#if ($SlangFormat.isScoped($node))
{
#end
##
## Local definitions:
##
	#foreach( $dec in $node.getLocalDefs() )
	$SlangFormat.formatVdmSource($dec)##
	$SlangFormat.format($dec)
	#end
##
## Statements:
##
	#foreach( $stm in $node.getStatements() )
	$SlangFormat.formatVdmSource($stm)##
	$SlangFormat.format($stm)
	#end
##
#if ($SlangFormat.isScoped($node))
}
#end