#set( $exp = $SlangFormat.format($node.getExp()) )
#set( $var = $SlangFormat.format($node.getPattern()) )
#set( $body = $SlangFormat.format($node.getBody()) )
for ({$var} <- ${exp}.elements)
{
	${body}
}