#if ( $SlangFormat.isNull($node.getExp()) )
    return
#elseif ( $SlangFormat.isVoidType($node.getExp().getType()) )
    return $SlangFormat.format($node.getExp())
#else
    return $SlangFormat.format($node.getExp())
#end