## TODO: handle 'functions', 'operations' and 'traces'
import org.sireum._

class $node.getName():
#**##foreach( $f in $node.getFields() )
#**#$SlangFormat.format($f)
#**##end

#**##foreach($method in $node.getMethods() )
#**#$SlangFormat.format($method)
#**##end