#set ($assignedTo = "")
#if (!$SlangFormat.isNull($node.getInitial()))
    #set($assignedTo = "=" + $SlangFormat.format($node.getInitial()))
#end
$SlangFormat.findModifier($node.getFinal()) $node.getName() : $SlangFormat.format($node.getType()) $assignedTo