#set( $returnType = $SlangFormat.format($node.getMethodType().getResult()) )
#set( $params = $SlangFormat.format($node.getFormalParams()))
##
#set( $body = $SlangFormat.formatOperationBody($node.getBody()))
@pure def $node.getName()($params):$returnType =
$body