#set( $returnType = $SlangFormat.format($node.getMethodType().getResult()) )
#set( $params = $SlangFormat.format($node.getFormalParams()))
##
#set( $body = $SlangFormat.formatOperationBody($node.getBody()))
##
$JavaFormat.formatVdmSource($node)##
##
$returnType def $node.getName()(${params})
$body