#set( $returnType = $SlangFormat.format($node.getMethodType().getResult()) )
#set( $params = $SlangFormat.format($node.getFormalParams()))
##
#set( $body = $SlangFormat.formatOperationBody($node.getBody()))
##
$SlangFormat.formatVdmSource($node)##
##
$SlangFormat.formatMetaData($node.getMetaData())##
##
def $node.getName()(${params}):$returnType=
$body