##
#set( $end = ";")
#if ( $SlangFormat.isLoopVar($node) )
	#set( $end = "")
#end
##
#set( $pattern = $SlangFormat.format($node.getPattern()) )
##
$SlangFormat.formatMetaData($node.getMetaData())##
##
$SlangFormat.findModifier($node.getFinal()) $pattern : $SlangFormat.format($node.getType()) = $SlangFormat.format($node.getExp())${end}