#set( $set = $SlangFormat.formatSet($node.getBindings()))
#set( $predVar = $SlangFormat.formatPredicateVar($node.getBindings()))
##
for (e <- ${set}.elements.filter(${predVar} => $SlangFormat.format($node.getPredicate())).map(${predVar} => $SlangFormat.format($node.getFirst())) yield e