#set( $set = $SlangFormat.formatSet($node.getBindList()))
#set( $predVar = $SlangFormat.formatPredicateVar($node.getBindList()))
##
All(${set}.elements)(${predVar} => $SlangFormat.format($node.getPredicate()))
